h1 {
    font-family: 'Righteous';
    font-size: 2.618rem;
    }

h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 1.618rem;
    color: $secondaryColor;
    }

p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    }