h1 {
    font-family: 'Anton';
    font-size: 4.5rem;
    color: $mainColor;
    }

h2 {
    font-family: 'Cookie';
    font-size: 2.6rem;
    color: $mainColor;
    }

h3 {
    font-family: 'Cookie';
    font-size: 5.2rem;
    color: #fff;
    margin-bottom: -10px;
}

h4 {
    font-family: 'Cookie';
    font-size: 3rem;
    color: #fff;
    margin-top: -25px;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    }