h1 {
    font-family: 'Anton';
    font-size: 4.2rem;
    color: $mainColor;
    }

h2 {
    font-family: 'Cookie';
    font-size: 2.6rem;
    color: $mainColor;
    }

p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    }