.feature-container {
    background-color: $mainColor;
    padding-bottom: 50px;
    padding-top: 10px;
    }

.col-4 {
    padding: 10px 20px;
    }

.feature-container h1 {
    color: $secondaryColor;
}

.feature-container p {
    color: $secondaryColor;
}

.feature-image {
    max-width: 500px;
}

.book-col {
    margin-top: 25px;
    padding-right: 0px;
}

.bookfeature-btn {
    text-align: center;
    margin-left: 40px;
}

.dd-container {
    padding-top: 25px;
}

.bookfeature-title {
    margin-top: 60px;
}

.featureh2-alt {
    font-size: 2rem;
}

.featurep-alt {
    margin-bottom: 8px;
}

.bookfeature-title2 {
    margin-top: 30px;
}

.text-purple {
    color: #663399;
}
.text-col {
    padding-left: 0px;
    padding-right: 50px;
    margin-bottom: 45px;
}
