.footer-container {
    background-color: $tertiaryColor;
    padding-top: 25px;
    padding-bottom: 15px;
    }


.footer-container h1 {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    }

.footer-container p {
    color: #000;
}

.footer-logo {
    width: 300px;
}

.copyright-container {
    background-color: $verydarkColor;
    }

.copyright-container p {
    font-size: 1rem;
    color: $lightColor;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
}

.copyright-container a {
    color: $lightColor;
}
