.container-hero {
    padding: 0;
}

.hero-bg {
    background-color: $tertiaryColor;
}

.hero-bg-light {
    background-color: $lightColor;
}

.hero-img {
    max-height: 70vh;
}

.home-header-image {
    max-width: 800px;
    margin-top: 40px;
}

.home-header-title {
    margin-top: 90px;
}

.hero-btn {
    margin-top: 20px;
    text-align: center;
}

.hero-text-col {
    padding-left: 0px;
    padding-right: 50px;
}

.image-col {
    padding-left: 50px;
    padding-right: 0px;
}
