.intro-container {
    background-color: $secondaryColor;
    margin-top: -5px;
    }

.intro-container h1 {
    color: #fff;
    }

.intro-container p {
    color: #fff;
    padding-right: 10px;
    }

.intro-logo {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    }

.intro-circle {
    display: block;
    margin: 0 auto;
}