.intro-container {
    background-color: $lightColor;
    margin-top: -5px;
    text-align: center;
    }

.intro-container h1 {
    padding-top: 20px;
    text-align: center; 
}


.intro-container p {
    padding-right: 10px;
    text-align: center;
    }


