.menu-container {
    background-color: $lightColor;
    }

.menu-container h1 {
    color: $secondaryColor;
    margin: 0;
    padding-bottom: 1rem;
    }

.menu-container p {
    color: $darkColor;
}
